<ActionBar title="{{cardTitle}}" class="action-bar">
    <NavigationButton icon="font://&#xf104;" class="fas h2" ios.position="left" (tap)="goBack()"></NavigationButton>
<!--    <ActionItem icon="font://&#xf044;" class="fas h2" ios.position="right" (tap)="editClicked()"></ActionItem>-->
<!--    <ActionItem icon="font://&#xf044;" class="fas h2" ios.position="right" (tap)="editClicked()"></ActionItem>-->
    <ActionItem icon="font://&#xf0c7;" class="fas h2" ios.position="right" (tap)="saveForm()"></ActionItem>
</ActionBar>

<StackLayout class="page" *ngIf="card">
    <Label class="h2" text="Title"></Label>
    <TextField [(ngModel)]="card.title" class="h2 textbox title"></TextField>
    <Label class="h2" text="Description"></Label>
    <TextView [(ngModel)]="card.description" class="h2 textbox"></TextView>
    <Button text="{{card.id ? 'Update' : 'Create'}}" (tap)="saveForm()" class="-primary -rounded-lg"></Button>
    <Button *ngIf="card.id" text="Delete" (tap)="removeCard()" class="my-button"></Button>
</StackLayout>
