/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the 
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/
@import "~@nativescript/theme/core";
@import "~@nativescript/theme/grey";

@import "~@nativescript/theme/core.compat";
@import "~@nativescript/theme/blue.compat";

@import '~@nativescript/theme/scss/variables';
@import '~@nativescript/theme/scss/variables/grey';

@import "app/@theme/styles/theme";
@import "app/@theme/styles/base";



@import "app/pages/item/item-detail.component";
//@import "app/pages/item/item-detail.component";

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

/*
The following CSS rule changes the font size of all Buttons that have the
"-primary" class modifier.
*/
$fa-font-path: if("font-awesome/", "fonts/font-awesome/") !default;

Button.-primary {
    font-size: 18px;
}

//.far {
//    font-family: "Font Awesome 5 Free", "fa-regular-400", serif;
//    font-weight: 400;
//}
//
//.fab {
//    font-family: "Font Awesome 5 Brands", "fa-brands-400", fantasy;
//}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
}

.ico {
    font-family: "IcoMoon-Free", serif;
}



